@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 1.75rem;
    text-align: center;
    padding: 18px 0;
    color: #fff;
}
.container {
    gap: 35px;
    padding: 30px;
}
.wt-inpt {
    width: 400px;
    margin-left: 35%;
}
.wt-inpt h3 {
    margin-left: 25%;
}
.wt-inpt input {
    height: 46px;
    width: 100%;
    outline: none;
    font-size: 1.07rem;
    padding: 0 17px;
    margin: 10px 0 20px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.wt-inpt input:focus {
    padding: 0 16px;
    border: 2px solid #5372F0;
}

.wt-inpt .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #BBBBBB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wt-inpt .separator::before {
    content: "or";
    color: #6C757D;
    font-size: 1.18rem;
    padding: 0 15px;
    margin-top: -4px;
    background: #E3F2FD;
}

.wt-inpt button {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    color: #fff;
    background: #5372F0;
    transition: 0.2s ease;
}

.wt-inpt .search-btn:hover {
    background: #2c52ed;
}

.wt-inpt .location-btn {
    background: #6C757D;
}

.wt-inpt .location-btn:hover {
    background: #5c636a;
}
.weather-data {
    width: 100%;
    display: none;
}

.weather-data .current-weather {
    height: 12rem;
    color: white;
    border-radius: 5px;
    margin-top: 2%;
    width: 50%;
    margin-left: 25%;
    display: flex;
    justify-content: space-between;
    background: var(--background);
    backdrop-filter: blur(0.8rem);
}
.details{
    display: flex;
    flex-direction: column;
    gap: 3%;
}
.current-weather h2 {
    font-weight: 700;
    font-size: 1.7rem;
}

.weather-data h6 {
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
}

.current-weather .icon {
    text-align: center;
}

.current-weather .icon img {
    max-width: 120px;
    margin-top: -15px;
}

.current-weather .icon h6 {
    margin-top: -10px;
    text-transform: capitalize;
}

.days-want{
    color: white;
    font-size: 1.5em;
    background-color: #435dc4;
    width: 14%;
    padding: 0.4%;
    margin-left: 42%;
    border-radius: 4px;
    margin-top: 1.2%;
}

.days-want:hover{
    background-color: #1b41d8;
    cursor: pointer;
    transition: 0.2s ease;
}

.days-forecast{
    display:none;
}

.days-forecast h2 {
    margin: 20px 0;
    font-size: 1.5rem;
}

.days-forecast .cards {
    display: flex;
    gap: 20px;
}

.cards .card {
    color: #fff;
    padding: 18px 16px;
    list-style: none;
    width: calc(100% / 5);
    border-radius: 5px;
    background: var(--background);
    backdrop-filter: blur(0.8rem);
}

.cards .card h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

.cards .card img {
    max-width: 70px;
    margin: 5px 0 -12px 0;
}
